@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

/* Evitamos que se pueda hacer scroll fuera del escritorio */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}